API_PORT=8081
MongoDb__ConnectionString=mongodb://mongodb:27017
MongoDb__DatabaseName=fiap_carbono
Jwt__SecretKey=
Jwt__Issuer=Web.Fiap.Carbono
Jwt__Audience=Web.Fiap.Carbono.Users
Jwt__ExpirationMinutes=60
